.m-ss {
  width: 100vw;
  height: 100%;
  background-color: #fff;
  overflow-x: hidden;
}

.m-ss-c {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--s-pm-1);
  /* margin-top: 30px; */
  padding: 20px 0 20px 50px;
}

.m-ss-c-l {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 50px;
  padding: 0 50px 0 0;
}

.m-ss-cl-h5{
  color: white;
  font-size: var(--head-3);
  text-align:left;
}

.m-ss-c-r {
  width: 70%;
  display: flex;
  flex-direction: column;
  background-color: var(--s-pm-1);
  align-items: flex-end;
}

.m-ss-c-l > button{
  margin-top: 20px;
  padding: 10px 20px;
  background: var(--s-sc-1);
  border: none;
  border-radius: 5px;
  color: #fff;
  margin-bottom: 2rem;
  position: relative;
  left: 0%;
  transform: translateX(0%);
}

@media screen and (max-width: 750px) {
  .m-ss {
    width: 100%;
    height: 100%;
  }

  .m-ss-c {
    flex-direction: column;
    justify-content: center;
    /* margin-top: 30px; */
    padding: 0 30px;
  }

  .m-ss-c-l {
    width: 100%;
    margin-top: 30px;
    padding: 0;
  }

  .m-ss-cl-h5{
    text-align:center;
  }

  .m-ss-c-l > button{
    left: 50%;
    transform: translateX(-50%);
  }

  .m-ss-c-r {
    width: 100%;
    align-items: center;
  }
}
