@import url("https://fonts.googleapis.com/css2?family=Amiri&family=Cormorant:ital,wght@0,300;0,400;0,500;0,700;1,400&family=Lexend+Deca:wght@100;200;300;400;500;600;700&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;1,400&display=swap");

:root {
  --s-accent-1: #ffff;
  --s-pm-1: #1b3061;
  --s-pm-2: #0081eb;
  --s-sc-1: #eb913d;
  --s-sc-2: #000000;
  --s-oth: #5d402b;

  --xxl-1: clamp(48px, 4vw, 56px);
  --xl-1: clamp(42px, 4vw, 50px);
  --head-1: clamp(40px, 3vw, 48px);
  --lg-1: clamp(40px, 3vw, 44px);
  --head-2: clamp(36px, 3vw, 40px);
  --head-3: clamp(27px, 4vw, 36px);
  --md-1: clamp(26px, 3vw, 30px);
  --head-4: clamp(24px, 3vw, 28px);
  --head-5: clamp(20px, 3vw, 24px);
  --head-6: clamp(18px, 3vw, 22px);
  --sm-1: clamp(18px, 1.5vw, 19px);
  --dsm-1: clamp(15px, 2vw, 17px);
  --default-1: clamp(13px, 2vw, 16px);
  --xs-1: clamp(12px, 3vw, 15px);
}

* {
  font-family: "Lexend Deca", sans-serif;
  box-sizing: border-box;

  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  caret-color: transparent;
}

h1,
h5,
h2,
h3,
h4,
h6 {
  font-weight: normal;
  font-style: normal;
  line-height: 1.4;
}

p {
  line-height: 1.7;
  font-weight: 200;
  font-style: normal;
}

.section-header {
  position: relative;
  text-align: center;
  font-size: var(--head-3);
  margin: 20px 0 30px 0;
  text-transform: uppercase;
}
.section-header::after {
  content: "";
  width: 150px;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
  background-color: #eb8f3b;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: white;
  overflow-x: hidden;
}

@media screen and (max-width: 750px) {
  .section-header {
    position: relative;
    text-align: center;
  }
  .section-header::after {
    content: "";
    width: 150px;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translatex(-50%);
    background-color: #eb8f3b;
  }
}
